[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/pipe2eval"]
	path = bundle/pipe2eval
	url = git@github.com:zweifisch/pipe2eval.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/tern"]
	path = bundle/tern
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "bundle/lang-js"]
	path = bundle/lang-js
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/lang-tex"]
	path = bundle/lang-tex
	url = git@github.com:lervag/vim-latex.git
[submodule "bundle/youCompleteMe"]
	path = bundle/youCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git@github.com:honza/vim-snippets.git
