[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/pipe2eval"]
	path = bundle/pipe2eval
	url = git@github.com:zweifisch/pipe2eval.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/lang-js"]
	path = bundle/lang-js
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/lang-tex"]
	path = bundle/lang-tex
	url = git@github.com:lervag/vim-latex.git
[submodule "bundle/youCompleteMe"]
	path = bundle/youCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/snippets"]
	path = bundle/vim-snippets/
	url = https://github.com/honza/vim-snippets
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/listToggle"]
	path = bundle/listToggle
	url = git@github.com:Valloric/ListToggle.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = git@github.com:vim-scripts/FSwitch.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:vim-scripts/bufexplorer.zip.git
